$yokutukau: tomato;

h1 {
	color: $yokutukau;
}

li {
	color: blue;
}

ul {
	background-color: aquamarine;
	list-style: none;
	display: flex;
	justify-content: center;
	li {
		font-size: 20px;
		color: $yokutukau;
		padding: 12px 24px;
		&:hover {
			color: tomato;
		}
	}
}

.first-v {
	display: flex;
	height: 300px;
	.first-v-text {
		color: $yokutukau;
		width: 50%;
		font-size: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.first-v-image {
		width: 50%;
		overflow-y: hidden;
		img {
			width: 100%;
		}
	}
}
